{{ define "main" }}

{{ partial "page-header.html" . }}

<section class="section-sm pt-60">
  <div class="container">
    <div class="row mb-5">
      <div class="col-xl-6 col-lg-8 mx-auto text-center text-lg-center">
        <div class="section-title mb-0">
          <h1
            class="title text-xl mb-3">
            About me
          </h1>
          <p>
            Transforming visions into reality through passion, perseverance, and purpose
          </p>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-8 mx-auto">
        {{ .Content }}
      </div>
    </div>
  </div>
</section>

{{ end }}
