{{ define "main" }}
  {{ partial "page-header.html" . }}

  <section class="section pb-0 pt-60">
    <div class="container container-delta">
      {{ with .Params.contact }}
        <div class="row mb-5">
          <div class="col-xl-6 col-lg-8 mx-auto text-center text-lg-center">
            <div class="section-title mb-0">
              <h1
                class="title text-xl mb-3"
                {{ with .title_color }}
                  style="color:{{ . }} !important"
                {{ end }}>
                Contact Us
              </h1>
              <p
                {{ with .description_color }}
                  style="color:{{ . }} !important"
                {{ end }}>
                We promise we will not send you any spam!
              </p>
            </div>
          </div>
        </div>
      {{ end }}
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-8 order-1 order-lg-0">
          <form
            action="https://api.web3forms.com/submit"
            method="POST"
            class="rounded-md shadow-md p-4 p-md-5"
            id="contact-form"
            data-netlify="true">

            <input type="hidden" name="access_key" value="38b1879a-86fa-418d-80e5-e32e13e23841" />

            <div class="form-group mb-3">
              <label class="fw-600 text-dark mb-1" for="fname">
                {{ i18n "full_name" }}
              </label>
              <input
                class="form-control text-dark shadow-none"
                type="text"
                placeholder="Jack Barker"
                name="Name"
                id="fname"
                value=""
                required />
            </div>
            <div class="form-group mb-3">
              <label class="fw-600 text-dark mb-1" for="email">
                {{ i18n "email" }}
              </label>
              <input
                class="form-control text-dark shadow-none"
                type="email"
                placeholder="example@domain.io"
                name="Email"
                id="email"
                value=""
                required />
            </div>
            <div class="form-group mb-3">
              <label class="fw-600 text-dark mb-1" for="message">
                {{ i18n "message" }}
              </label>
              <textarea
                class="form-control text-dark shadow-none"
                name="comment"
                rows="5"
                name="Message"
                id="message"
                required
                placeholder="{{ i18n `message` }}"></textarea>
            </div>
            <button class="btn btn-primary w-95" type="submit">
              {{ i18n "submit_now" }}
            </button>
          </form>
          </div>
        
      </div>
    </div>
  </section>

{{ end }}
