<div class="affiliate showcase container container-delta mt-60">
    <div class="row">
        <div class="col-12 text-center">
            <div class="section-title">
                <h2 class="title mb-3 banner-title" style="color: black !important;">Free Resources</h2>
                <p class="mb-3">I'm excited to share my collection of over 15+ courses that I've acquired over the past
                    2 years. <br>These cover a wide range of topics including AI, Coding, Personal Development,
                    Business, SEO, and Marketing. <br>Feel free to explore and use these resources.</strong></p>
            </div>
        </div>
    </div>
    <div class="row gy-3 justify-content-center">


        <section>
            <div class="py-1 px-1">
                <div class="row justify-content-center mb-3">


                    <div class="col-md-4 pd-5">
                        <div class="card shadow-0 border rounded-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <h6>ChatGPT Complete Guide <br>Learn Midjourney, ChatGPT 4 & More</h6>
                                        <div class="mt-1 mb-0 text-muted small ft-13">
                                            <span>AI</span>
                                            <span class="text-primary"> • </span>
                                            <span>ChatGPT</span>
                                        </div>
                                        <p class="text-truncate mb-4 mb-md-0 ft-14">
                                            ChatGPT Plugins + 25 Powerful AI Tools 10x Your Productivity and Creativity | ChatGPT, Generative AI, Prompt Engineering.
                                        </p>
                                        <p></p>
                                        <button class="btn btn-primary btn-download-document">Download Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 pd-5">
                        <div class="card shadow-0 border rounded-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <h6>ChatGPT Marketing: Create Complete Campaigns W/ Chat GPT AI</h6>
                                        <div class="mt-1 mb-0 text-muted small ft-13">
                                            <span>AI</span>
                                            <span class="text-primary"> • </span>
                                            <span>ChatGPT</span>
                                        </div>
                                        <p class="text-truncate mb-4 mb-md-0 ft-14">
                                            Supercharge Your Marketing with Prompt Engineering & Drive Results with Artificial Intelligence!
                                        </p>
                                        <p></p>
                                        <button class="btn btn-primary btn-download-document">Download Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-5">
                        <div class="card shadow-0 border rounded-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <h6>ChatGPT Masters: AI Prompt Engineering, Midjourney, Chat GPT</h6>
                                        <div class="mt-1 mb-0 text-muted small ft-13">
                                            <span>AI</span>
                                            <span class="text-primary"> • </span>
                                            <span>ChatGPT</span>
                                        </div>
                                        <p class="text-truncate mb-4 mb-md-0 ft-14">
                                            Learn ChatGPT, Chat GPT 4o, Bard/Gemini, Prompt Engineering, Generative AI, OpenAI, Artificial Intelligence, Chat GPT 4o!
                                        </p>
                                        <p></p>
                                        <button class="btn btn-primary btn-download-document">Download Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-5">
                        <div class="card shadow-0 border rounded-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <h6>Motion Design With Figma: Animations, Motion Graphics, UX/UI</h6>
                                        <div class="mt-1 mb-0 text-muted small ft-13">
                                            <span>UI/UX</span>
                                            <span class="text-primary"> • </span>
                                            <span>Design</span>
                                        </div>
                                        <p class="text-truncate mb-4 mb-md-0 ft-14">
                                            The most comprehensive online resource on Motion Design, Microinteractions, Animations and creating beautiful UX/UI!
                                        </p>
                                        <p></p>
                                        <button class="btn btn-primary btn-download-document">Download Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-5">
                        <div class="card shadow-0 border rounded-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <h6>The Complete Android 14 Developer Course <br>Build 100 Apps</h6>
                                        <div class="mt-1 mb-0 text-muted small ft-13">
                                            <span>Android</span>
                                            <span class="text-primary"> • </span>
                                            <span>Coding</span>
                                        </div>
                                        <p class="text-truncate mb-4 mb-md-0 ft-14">
                                            Learn Android App Development in both Java &amp; Kotlin Languages. You'll master Android from ZERO to HERO.
                                        </p>
                                        <p></p>
                                        <button class="btn btn-primary btn-download-document">Download Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-5">
                        <div class="card shadow-0 border rounded-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <h6>Social Media Marketing MASTERY : Learn Ads On 10+ Platforms</h6>
                                        <div class="mt-1 mb-0 text-muted small ft-13">
                                            <span>Business</span>
                                            <span class="text-primary"> • </span>
                                            <span>Marketing</span>
                                        </div>
                                        <p class="text-truncate mb-4 mb-md-0 ft-14">
                                            MASTER online marketing on Meta, Pinterest, Instagram, YouTube, Facebook, Google and more ad platforms.
                                        </p>
                                        <p></p>
                                        <button class="btn btn-primary btn-download-document">Download Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-5">
                        <div class="card shadow-0 border rounded-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <h6>The Complete Digital Marketing Course - 12 Courses In 1</h6>
                                        <div class="mt-1 mb-0 text-muted small ft-13">
                                            <span>Business</span>
                                            <span class="text-primary"> • </span>
                                            <span>Marketing</span>
                                        </div>
                                        <p class="text-truncate mb-4 mb-md-0 ft-14">
                                            Master Digital Marketing Strategy, Social Media Marketing, SEO, YouTube, Email, Facebook Marketing, Analytics & More.
                                        </p>
                                        <p></p>
                                        <button class="btn btn-primary btn-download-document">Download Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-5">
                        <div class="card shadow-0 border rounded-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <h6>The Science Of Leadership</h6>
                                        <div class="mt-1 mb-0 text-muted small ft-13">
                                            <span>Business</span>
                                            <span class="text-primary"> • </span>
                                            <span>Personal Development</span>
                                        </div>
                                        <p class="text-truncate mb-4 mb-md-0 ft-14">
                                            Leadership, management techniques and communication skills based on research from neuroscience to social psychology.
                                        </p>
                                        <p></p>
                                        <button class="btn btn-primary btn-download-document">Download Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-5">
                        <div class="card shadow-0 border rounded-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <h6>The Business Intelligence Analyst Course</h6>
                                        <div class="mt-1 mb-0 text-muted small ft-13">
                                            <span>Business</span>
                                            <span class="text-primary"> • </span>
                                            <span>BA</span>
                                        </div>
                                        <p class="text-truncate mb-4 mb-md-0 ft-14">
                                            The skills you need to become a BI Analyst - Statistics, Database theory, SQL, Tableau - Everything is included.
                                        </p>
                                        <p></p>
                                        <button class="btn btn-primary btn-download-document">Download Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-5">
                        <div class="card shadow-0 border rounded-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <h6>The Complete Career Toolkit: Personal Branding, Resume Building</h6>
                                        <div class="mt-1 mb-0 text-muted small ft-13">
                                            <span>Business</span>
                                            <span class="text-primary"> • </span>
                                            <span>Personal Development</span>
                                        </div>
                                        <p class="text-truncate mb-4 mb-md-0 ft-14">
                                            Creating a strong personal brand can be a powerful tool for career success. It's how you set yourself apart from everyone else.
                                        </p>
                                        <p></p>
                                        <button class="btn btn-primary btn-download-document">Download Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-5">
                        <div class="card shadow-0 border rounded-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <h6>Learning To Learn (Efficient Learning) - Zero To Mastery</h6>
                                        <div class="mt-1 mb-0 text-muted small ft-13">
                                            <span>Business</span>
                                            <span class="text-primary"> • </span>
                                            <span>Personal Development</span>
                                        </div>
                                        <p class="text-truncate mb-4 mb-md-0 ft-14">
                                            Become an efficient learner, improve your memory and productivity, and become the best version of yourself.
                                        </p>
                                        <p></p>
                                        <button class="btn btn-primary btn-download-document">Download Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-5">
                        <div class="card shadow-0 border rounded-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <h6>Mind Power - Change Your Thought Process To Change Your Life</h6>
                                        <div class="mt-1 mb-0 text-muted small ft-13">
                                            <span>Business</span>
                                            <span class="text-primary"> • </span>
                                            <span>Personal Development</span>
                                        </div>
                                        <p class="text-truncate mb-4 mb-md-0 ft-14">
                                            Change Your Belief System to have a Breakthrough in Personal as well as Professional Life.
                                        </p>
                                        <p></p>
                                        <button class="btn btn-primary btn-download-document">Download Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-5">
                        <div class="card shadow-0 border rounded-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <h6>A Cloud Guru - Google Cloud Essentials</h6>
                                        <div class="mt-1 mb-0 text-muted small ft-13">
                                            <span>Coding</span>
                                            <span class="text-primary"> • </span>
                                            <span>DevOps</span>
                                        </div>
                                        <p class="text-truncate mb-4 mb-md-0 ft-14">
                                            This course provides an in-depth and holistic overview of the tools and services available on the Google Cloud Platform.
                                        </p>
                                        <p></p>
                                        <button class="btn btn-primary btn-download-document">Download Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-5">
                        <div class="card shadow-0 border rounded-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <h6>The Ultimate Affiliate Marketing Course For Beginners 2023</h6>
                                        <div class="mt-1 mb-0 text-muted small ft-13">
                                            <span>Business</span>
                                            <span class="text-primary"> • </span>
                                            <span>Marketing</span>
                                        </div>
                                        <p class="text-truncate mb-4 mb-md-0 ft-14">
                                            Learn Affiliate Marketing from the UK's Award-Winning Digital Marketing Agency Owner, Joshua George!
                                        </p>
                                        <p></p>
                                        <button class="btn btn-primary btn-download-document">Download Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-5">
                        <div class="card shadow-0 border rounded-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <h6>The Ultimate SEO Training 2023 + SEO For Wordpress Websites</h6>
                                        <div class="mt-1 mb-0 text-muted small ft-13">
                                            <span>SEO</span>
                                            <span class="text-primary"> • </span>
                                            <span>Marketing</span>
                                        </div>
                                        <p class="text-truncate mb-4 mb-md-0 ft-14">
                                            SEO Training From An SEO Agency Owner: Step By Step Process To Rank #1 on Google.
                                        </p>
                                        <p></p>
                                        <button class="btn btn-primary btn-download-document">Download Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-5">
                        <div class="card shadow-0 border rounded-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <h6>Microsoft Excel: Business Intelligence W/ Power Query & DAX</h6>
                                        <div class="mt-1 mb-0 text-muted small ft-13">
                                            <span>Business</span>
                                            <span class="text-primary"> • </span>
                                            <span>Excel</span>
                                        </div>
                                        <p class="text-truncate mb-4 mb-md-0 ft-14">
                                            Learn Excel Power Query, DAX for data analysis, prep, modeling &amp; business intelligence, with a top MS Excel instructor.
                                        </p>
                                        <p></p>
                                        <button class="btn btn-primary btn-download-document">Download Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-5">
                        <div class="card shadow-0 border rounded-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <h6>Building A Team From Scratch - Recruit, Hire, Onboard And More</h6>
                                        <div class="mt-1 mb-0 text-muted small ft-13">
                                            <span>Business</span>
                                            <span class="text-primary"> • </span>
                                            <span>Personal Development</span>
                                        </div>
                                        <p class="text-truncate mb-4 mb-md-0 ft-14">
                                            Learn how to recruit, hire, onboard, and build the best possible team for your organization.
                                        </p>
                                        <p></p>
                                        <button class="btn btn-primary btn-download-document">Download Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 pd-5">
                        <div class="card shadow-0 border rounded-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                        <h6>IOS & Swift - The Complete IOS App Development Bootcamp</h6>
                                        <div class="mt-1 mb-0 text-muted small ft-13">
                                            <span>Coding</span>
                                            <span class="text-primary"> • </span>
                                            <span>iOS</span>
                                        </div>
                                        <p class="text-truncate mb-4 mb-md-0 ft-14">
                                            From Beginner to iOS App Developer with Just One Course! Fully Updated with a Comprehensive Module Dedicated to SwiftUI.
                                        </p>
                                        <p></p>
                                        <button class="btn btn-primary btn-download-document">Download Now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>


            </div>
        </section>


    </div>
</div>