<div class="affiliate home-menu container container-delta mt-60">
    <div class="row gy-3 justify-content-center mb-4">
        <div class="col-lg-4 col-md-6 blog-card">
            <article data-link="#" class="card border-0 rounded-md overflow-hidden h-100 blog-border-card">
                <a href="#"
                    title="Project">
                    <img src="/images/affiliate/project.svg"
                        loading="lazy" decoding="async" alt="" class=" card-img-top h-auto ghtm-img" width="570"
                        height="321"
                        onerror="this.onerror='null';this.src='\/images\/affiliate\/project.svg'">
                </a>
                <div class="card-body position-relative">
                    <h3 class="h5">
                        <a class="blog-title" href="#" title="Project">Project</a>
                    </h3>
                    <p class="mb-0">Explore my completed and ongoing projects, showcasing my skills and creativity.</p>
                </div>
            </article>
        </div>
        <div class="col-lg-4 col-md-6 blog-card">
            <article data-link="/blog/" class="card border-0 rounded-md overflow-hidden h-100 blog-border-card">
                <a href="/blog/"
                    title="Blog">
                    <img src="/images/affiliate/blog.svg"
                        loading="lazy" decoding="async" alt="" class=" card-img-top h-auto ghtm-img" width="570"
                        height="300"
                        onerror="this.onerror='null';this.src='\/images\/affiliate\/blog.svg'">
                </a>
                <div class="card-body position-relative">
                    <h3 class="h5">
                        <a class="blog-title" href="/blog/"
                            title="Blog">Blog</a>
                    </h3>
                    <p class="mb-0">Share my experiences, insights, and lessons learned with fellow entrepreneurs and indie hackers.</p>
                </div>
            </article>
        </div>
        <div class="col-lg-4 col-md-6 blog-card">
            <article data-link="/shop/" class="card border-0 rounded-md overflow-hidden h-100 blog-border-card">
                <a href="/shop/"
                    title="Shop">
                    <img src="/images/affiliate/shop.svg"
                        loading="lazy" decoding="async" alt="" class=" card-img-top h-auto ghtm-img" width="570"
                        height="356"
                        onerror="this.onerror='null';this.src='\/images\/affiliate\/shop.svg'">
                </a>
                <div class="card-body position-relative">
                    <h3 class="h5">
                        <a class="blog-title" href="/shop/"
                            title="Shop">Shop</a>
                    </h3>
                    <p class="mb-0">Discover the tools that power my SaaS development journey, from marketing to project management.</p>
                </div>
            </article>
        </div>
    </div>
</div>
