<div class="affiliate showcase container container-delta mt-110">
    <div class="row">
        <div class="col-12 text-center">
            <div class="section-title">
                <!-- <p class="subtitle" style="color: #FF5100 !important;">Showcase</p> -->
                <h2 class="title mb-3 banner-title" style="color: #FF5100 !important;">$8K MRR</h2>
                <p class="mb-3">My trio of top-rated apps on Google Play generates a consistent <br><strong>$8K in MRR.</strong></p>
            </div>
        </div>
    </div>
    <div class="row gy-3 justify-content-center">
        <div class="col-lg-4 col-md-6 blog-card">
            <article class="card border-0 rounded-md overflow-hidden h-100 blog-border-card">
                <a href="#"
                    title="AR Drawing Sketch Paint">
                    <img src="/images/showcase/3.webp"
                        loading="lazy" decoding="async" alt="" class=" card-img-top h-auto ghtm-img" width="570"
                        height="321"
                        onerror="this.onerror='null';this.src='\/images\/showcase\/3.webp'">
                </a>
                <div class="card-body position-relative">
                    <h3 class="h5">
                        <a class="blog-title" href="#"
                            title="AR Drawing Sketch Paint">AR Drawing Sketch</a>
                    </h3>
                    <p class="mb-0"></p>
                    <div class="showcase-detail">
                        <p>10M+ Installs</p>
                        <p>$5K MRR</p>
                    </div>
                    <a href="https://play.google.com/store/apps/details?id=com.ardrawing.tracedrawing.drawingsketch.drawingapps" class="btn goto-store" href="">Get It On Google Play</a>
                    
                </div>
            </article>
        </div>
        <div class="col-lg-4 col-md-6 blog-card">
            <article class="card border-0 rounded-md overflow-hidden h-100 blog-border-card">
                <a href="#"
                    title="Calculator: Simple Calculation">
                    <img src="/images/showcase/2.webp"
                        loading="lazy" decoding="async" alt="" class=" card-img-top h-auto ghtm-img" width="570"
                        height="300"
                        onerror="this.onerror='null';this.src='\/images\/showcase\/2.webp'">
                </a>
                <div class="card-body position-relative">
                    <h3 class="h5">
                        <a class="blog-title" href="#"
                            title="Calculator: Simple Calculation">Simple Calculation</a>
                    </h3>
                    <div class="showcase-detail">
                        <p>500K+ Installs</p>
                        <p>$1.5K MRR</p>
                    </div>
                    <a href="https://play.google.com/store/apps/details?id=com.calculator.simplecalculator.basiccalculator" class="btn goto-store" href="">Get It On Google Play</a>
                </div>
            </article>
        </div>
        <div class="col-lg-4 col-md-6 blog-card">
            <article class="card border-0 rounded-md overflow-hidden h-100 blog-border-card">
                <a href="#"
                    title="Notion">
                    <img src="/images/showcase/1.webp"
                        loading="lazy" decoding="async" alt="" class=" card-img-top h-auto ghtm-img" width="570"
                        height="356"
                        onerror="this.onerror='null';this.src='\/images\/showcase\/1.webp'">
                </a>
                <div class="card-body position-relative">
                    <h3 class="h5">
                        <a class="blog-title" href="#"
                            title="Metal Detector: Metal Sensor">Metal Detector</a>
                    </h3>
                    <div class="showcase-detail">
                        <p>1M+ Installs</p>
                        <p>$1K MRR</p>
                    </div>
                    <a href="https://play.google.com/store/apps/details?id=com.metal.detector.metaldetector.metalscanner" class="btn goto-store" href="">Get It On Google Play</a>
                </div>
            </article>
        </div>
    </div>
</div>
